:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
.body {
  font-family: var(--font-family);
  font-weight: 400;
}
.menu-link {
  font-family: var(--font-family);
  font-weight: 500;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
}
.header-contact {
  font-family: var(--font-family);
  font-weight: 500;
}
.order-title {
  font-family: var(--font-family);
  font-weight: 900;
  line-height: 1.36px;
}
.order-button {
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 1.87px;
}
.pluses-list-item-title {
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 1.71px;
}
.images-title {
  font-family: var(--font-family);
  font-weight: 700;
}
.workers-title {
  font-family: var(--font-family);
  font-weight: 700;
}
.worker-name {
  font-family: var(--font-family);
  font-weight: 500;
}
.gallery-filter {
  font-family: var(--font-family);
  font-weight: 500;
}
.gallery-item-title {
  font-family: var(--font-family);
  font-weight: 700;
}
.address {
  line-height: 1.71px;
}
